.search__wrapper {
  background-image: url(https://images.unsplash.com/photo-1519750783826-e2420f4d687f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
  margin-top: 65px;
}

.tool-container {
  background: linear-gradient(
    180deg,
    #fff,
    #d5dcfa 37.81%,
    #d5e4f2 71.67%,
    #fff
  );
  padding: 2rem 0 1rem 0;
}

.filter_search_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  color: #fff;
}
.tool_area > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* 
.tool_area_heading {
  margin-bottom: 24px;
  font-size: 24px;
} */

/*.footer-input */
.tool-input-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.tool-input {
  border-radius: 2px;
  padding: 7px;
  font-size: 18px;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 3px 0px rgb(58, 24, 7);
}

.table_header {
  font-weight: 900;
}

.search-irm {
  padding: 0px 40px 0px 0px;
  border-radius: 2px;
  font-size: 20px;
  border: 1px solid rgb(230, 33, 33);
  width: 600px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
}

.icon {
  padding: 13px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

#selectItems {
  width: 50px;
}

.table-container {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -10px rgb(58, 24, 7);
  box-shadow: 0px 0px 10px 0px rgb(58, 24, 7);
}
.main-table-area {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem 0 3rem 0;
  width: 100%;
  min-height: 70vh;
}
.paperroot {
  width: "100%";
}
.papercontainer {
  max-height: 65vh;
}
