#employeetable_wrapper {
  background-color: rgb(249, 249, 249);
  margin-top: 65px;
}
#table-div {
  width: 98%;
  height: 550px;
  margin: auto;
}
#search-bar {
  /* margin-left: 15px; */
  width: 98%;
  margin: auto;
  margin-bottom: 5px;
}
#search-bar div {
  /* margin-left: 15px; */
  width: 100%;
}
@media (max-width: 1000px) {
  #search-bar {
    width: 95%;
  }
}
