.main-conatiner {
  padding: 10px;
  /* background-image: url("../images/SC_logo\ _1.ico");
  background-position-y: 50; */
}

/* .signin-form {
  padding: 25px;
}
*/

.login-image img {
  display: block;
  padding: 200px;
  border-right: solid rgb(255, 0, 0) 2px;
  width: 100%;
}

/* .col-md-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;  
  padding-right: 100px;
} */
.login-form {
  z-index: 105;
  background: #f7eeea;
  flex: 2;
  margin: 100px 80px 100px 80px;
  height: 50vh;
  background-position-x: 50;
  z-index: 50;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(9, 24, 243, 0.377);
  box-shadow: 0px 0px 15px -1px rgba(59, 122, 240, 0.75);
}

.form-title {
  background-color: rgb(55, 125, 51);
  color: white;
  border-radius: 20px;
  margin-bottom: 3vw;
  padding-left: 10px;
}
.form-group {
  margin-bottom: 15px;
}

.login-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 0, 0);
  color: rgb(8, 8, 8);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
.login-form-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin-right: 5%;
}
